/* Source: https://github.com/dieghernan/pretty-themes */


// Top level colors
$foreground:  #F8F8F2 !default; // Base color: usually on Settings > Foreground
$background:    #282A36 !default; // Background color: usually on Settings > Background

$highlight: mix($background, $foreground, 90%) !default;

// tmTheme scopes as SASS variables
// Naming convention: scope_without_dots
// See more in: https://macromates.com/manual/en/language_grammars

// Comments
$comment:                  $foreground !default; //Any comments
$comment_block:            $comment !default; //Multi-line comments /* … */,<- … -->.
$comment_line:             $comment !default; //Line comments
$comment_line_number-sign: $comment_line !default; // # comment

// Constants
$constant_character_escape: $foreground !default; //Escape sequences.
$constant_language:         $foreground !default; //Special constants like true, false,nil

// Constant: Numbers
$constant_numeric:          $foreground !default; //Any number
$constant_numeric_float:    $constant_numeric !default; // Floating number
$constant_numeric_integer:  $constant_numeric !default; //Integers

// Other constants
$constant_other:        $foreground !default; //Any other constants, e.g. colors in CSS.
$constant_other_symbol: $constant_other !default; //

// Entities: Part of the document, for example a chapter, class, function, or tag.
$entity_name:                 $foreground !default; //Larger entity
$entity_name_class:           $entity_name !default; //Class Name
$entity_name_tag:             $entity_name !default; //Tag name.
$entity_name_tag_css:         $entity_name_tag !default; //Tag name for CSS/SCSS.
$entity_name_type:            $entity_name !default; //Type declaration or class.
$entity_other_attribute-name: $foreground !default; //Name of an attribute (mainly in tags).
$entity_other_attribute-name_id: $entity_other_attribute-name !default; //ID of an attribute.
$entity_other_attribute-name_html: $entity_other_attribute-name !default; //Name of an attribute (mainly in HTML).

// Invalid: Stuff that is invalid, illegal or deprecated
// Mapped to errors in Pygments
$invalid: $foreground !default;

// Keywords
$keyword_control:         $foreground !default; //Related to flow control: continue, while, return, etc.
$keyword_control_at-rule: $keyword_control !default; //@media in css.
$keyword_control_import:  $keyword_control !default;
$keyword_operator:        $foreground !default; //Operators can be textual (e.g. or) or be characters.
$keyword_other_important: $keyword_control !default; // Important things
$keyword_other_directive: $keyword_other_important !default; // YAML directives

// Markup: For markup languages and generally applies to larger subsets of the text
$markup_bold:             $foreground !default; //Bold text.
$markup_heading:          $foreground !default; //Section header.
$markup_italic:           $foreground !default; //Italic text
$markup_quote:            $foreground !default; // Markup quotations
$markup_raw:              $keyword_control !default; // Markup raw code

// Meta: markup languages
$meta_doctype: $comment !default; // For DOCTYPE in HTML

// Punctuation
// Specific of SublimeText, see:
// https://www.sublimetext.com/docs/scope_naming.html#alphabetical-reference
$punctuation_definition: $foreground !default;

// Storage: These are keywords in Pygments
$storage_type: $foreground !default; //Type of something, class, function, int, var, etc.


// Strings
$string:                $foreground !default; //Strings
$string_interpolated:   $string !default; //Strings which are "evaluated": `date`, $(pwd).
$string_quoted:         $string !default; //Quoted strings
$string_quoted_single:  $string_quoted !default; //Single quoted strings: 'foo'.
$string_quoted_double:  $string_quoted !default; //Double quoted strings: "foo".
$string_quoted_other:   $string_quoted !default; //Other types of quoting: $'shell', %s{...}.
$string_regexp:         $string !default; //Regular expressions: /(\w+)/.
$string_html:           $string !default; // Strings in html

// Support: Built-in things
$support:           $foreground !default; //Things provided by a framework or library.
$support_constant:  $support !default; //Constants (magic values) provided by the framework/library.
$support_type:      $support !default; //Types provided by the framework/library,
$support_type_property-name: $entity_name_tag_css !default; //REVIEW! Types provided by the framewor

// Variable
$variable:           $foreground !default; //Not all languages allow easy identification (and thus markup) of these.
$variable_language:  $variable !default; //Reserved language variables like this,super,self, etc.
$variable_other:     $variable !default; //Other variables
